version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/frontend/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for nuget
  - package-ecosystem: "nuget"
    directory: "/SignalrProject/"
    schedule:
      interval: "weekly"
