# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: nodejs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
defaults:
 run:
  working-directory: ./frontend

jobs:
  build-nodejs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: setup-node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - run: npm ci
    - run: npm run build --if-present
    #- run: npm test
